body {
    margin: 0 !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F4F3;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99.9%;
    height: 100%;



    #left {
        width: 40%;
        height: 94%;
        background-color: #112D60 ;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        padding: 20px;
        position: relative;
        z-index: 2;  

        #head {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 50%;
            padding: 30px;

            h1 {
                font-family: Verdana, Geneva, sans-serif;
                font-weight: bold;
                margin: 0 0 4px 0;
            }

            p {
                font-family: Verdana, Geneva, sans-serif;
                font-size: 14px;
                margin-top: 10px;
                margin: 0;
            }
        }

        .circulo {
            position: absolute;
            border-radius: 50%;      /* transforma o quadrado em círculo */
            background: #1b4080;     /* azul um pouco mais claro que o fundo */
            }

        .circulo-1 {
            width: 125px;
            height: 125px;
            left: -40px;
            top: 55%;
            }

            .circulo-2 {
            width: 220px;
            height: 220px;
            right: -30px;
            bottom: -10px;
            top: 500px;
            }

        #rodape {
            margin-top: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 60%;
            padding: 30px;

            p {
                font-family: Verdana, Geneva, sans-serif;
                font-size: 14px;
                margin-top: 10px;
                margin: 0;
            }
        }
    }

    

    #right {
        width: 60%;
        height: 94%;
        background-color: #DFECFA;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        overflow: hidden;
        position: relative;
    }

    #form-container-register {
    width: 100%;
    max-width: 600px;
    height: 650px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;

    form {

            padding: 20px;
            display: flex;
            flex-direction: column;
            margin-top: 45px;
            
            
            label {
                font-family: Verdana, Geneva, sans-serif;
                margin-bottom: 5px;
            }

            input {
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #000;
                background-color: #DFECFA;
                border-radius: 10px;
                font-family: Verdana, Geneva, sans-serif;

            }

            #alert-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                width: 100%;
                margin-bottom: 15px;
            }

            p {
                font-family: Verdana, Geneva, sans-serif;
                font-size: 14px;
                margin: 0;
                color: #6C757D;
            }
        }

        #top{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 400px;
            height: 50px;
            padding: 20px;

        h1 {
            font-family: Verdana, Geneva, sans-serif;
            font-weight: bold;
            margin-bottom: 0px;
            margin: 0 0 4px 0;
        }

        p {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 0px;
            margin: 0 0 4px 0;
            color: #6C757D;
        }
    }

        button {
            background-color: #186FD9;
            color: #FFFFFF;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-family: Verdana, Geneva, sans-serif;
            margin-top: 0px;
        }
    }

    #down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        height: 10px;
        margin-top: 0px;
        

        p {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            margin-top: 50px;
            margin-bottom: 0px;
            margin: 0 4px 4px 0;
            color: #6C757D;
        }

        button {
            background-color: #fff;
            color: #FFFFFF;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-family: Verdana, Geneva, sans-serif;
            margin-top: 10px;
        }
    
}

    #down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        margin-top: 25px;
        

        p {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            margin-top: 50px;
            margin-bottom: 0px;
            margin: 0 4px 4px 0;
            color: #6C757D;
        }
    }
}